<div class="dashboard run">
  <h1>Daily Results</h1>

  <h2>
    <small><%= link_to raw('<span class="glyphicon glyphicon-chevron-left"/>'), "/view/daily/#{@previous_date}" %></small>
    <%= @current_date %>
    <small><%= link_to raw('<span class="glyphicon glyphicon-chevron-right"/>'), "/view/daily/#{@next_date}" %></small>
  </h2>
  <%= render 'shared/run_results' %>
</div>
