<% provide(:title, 'About Test Central') %>
<h1>About Test Central</h1>
<p>
This the Test Central web application designed provide automated test and QA-centric tools of the Systems QA organization at <a href="http://www.leapfrog.com/">Leapfrog</a>.</p>
<p>
  Please contact
  <a href="mailto:pchoi@leapfrog.com">Peter Choi</a>
  in the Systems QA group for any request/issue.
</p>
<p class="release_notes">
  <%= sanitize @release_note %>
</p>