<% provide(:title, 'Access Deny') %>
<div class="col-xs-offset-3">
  <div class="content-header">
    <h2>Access Deny</h2>
  </div>

  <p style="color: #ff0000">
    You don't have permission to access this page. Please contact your administrator!
  </p>

  <p>
    <a href="javascript:history.back(-1)">Go back</a>
  </p>
</div>
