<div class="center hero-unit">
  <h1>Welcome!</h1>

  <h2>
    This is the starting point for the 
    <a href=""><%= t('title')%></a>
    web application.
  </h2>

  <%= link_to "Try it now!", signup_path, class: "btn btn-large btn-success" %>
</div>

