<html>
<head>
  <style type="text/css">
    body {
      font-family: Helvetica, Arial;
    }
  </style>
</head>
<body>
<p>Dear TC Admin,</p>

<p>Please help me to active my Test Central account.</p>

<p>URL: <a href="<%= @account_edit_url %>"><%= @account_edit_url %></a></p>

<p>Email: <a href="mailto:<%= @email %>"><%= @email %></a></p>

<p>Thanks,</p>
</body>
</html>
