<?xml version="1.0"?>
<configuration>
  <smtpSetting>
    <address>smtp.gmail.com</address>
    <port>587</port>
    <domain>testcentral.com</domain>
    <username>lflgautomation@gmail.com</username>
    <password>123456abc!</password>
    <attachmentType>none</attachmentType>
  </smtpSetting>
  <autoSetting>
    <limitRunningTest>9</limitRunningTest>
    <refreshRunningRate>2</refreshRunningRate>
	<refreshOutpostStatus>10</refreshOutpostStatus>
  </autoSetting>
  <pagingSetting>
    <loggingPageLimit>20</loggingPageLimit>
  </pagingSetting>
  <emailQueueSetting>
    <refreshEmailRate>5</refreshEmailRate>
  </emailQueueSetting>
</configuration>
