.highlights {
  background-color: #eeeeee;
  color: #000000;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.result table td {
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  padding: 2px;
}
.summary_table {
  margin-top: 10px;
  width: 100%;
}
