.container {
  padding-top: 20px;
}

.navbar,
form {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

h1, .h1,
h2, .h2 {
  text-align: center;
}

h3, .h3 {
  color: #999999;
}

label {
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #5cb85c;
}

a:hover {
  cursor: pointer;
}

table th {
  border: 1px solid #eeeeee;
}

.top5 {
  margin-top: 5px;
}

.top6 {
  margin-top: 6px;
}

.top15 {
  margin-top: 15px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid #CCCCCC;
  box-shadow: 0 0px;
  height: inherit;
  padding: 5px 10px;
  cursor: pointer;
}

.btn {
  padding: 5px 10px;
}

.dropdown-menu > li > label {
  display: block;
  padding: 3px 20px 3px 30px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  margin: 0;
  cursor: pointer;
}

.dropdown-menu > li > label:hover, .dropdown-menu > li > label:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
  cursor: pointer;
}

.content-header {
  width: 60%;
  border-bottom-width: 0;
  margin-bottom: 15px;
  h2 {
    color: #333333;
  }
  .subheader {
    color: #888;
    margin-top: 3px;
  }
}

.header-inner, .content-no-header .no-header-inner {
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  min-height: 20px;
}

.in-line {
  float: left;
}

.clear {
  clear: both;
}

// global loader, wait screen while doing process
.glb-loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
  div {
    box-shadow: 1px 2px 8px #888888;
    border-radius: 5px;
    background: url("/assets/loading_pleasewait.gif") no-repeat scroll center center white;
    left: 430px;
    position: absolute;
    top: 300px;
    width: 400px;
    height: 150px;
    text-align: center;
  }
}

.glb-loader-small {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("/assets/ui-bg_diagonals-thick_20_666666_40x40.png") repeat;
  opacity: 0.7;
  top: 0px;
  left: 0px;
  div {
    border-radius: 5px;
    background: url("/assets/loading_pleasewait.gif") no-repeat scroll center center;
    position: absolute;
    opacity: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

.col-xs-offset-3 {
  .alert {
    width: 60%;
  }
}

.hidden-input {
  input[type="radio"], input[type="checkbox"] {
    display: none;
  }
}

.run_info_error {
  background: url("/assets/ui-bg_diagonals-thick_18_b81900_40x40.png") repeat scroll 50% 50% #b81900 !important;
  border: 1px solid #cd0a0a;
  color: #fff;
}

@media (max-width: 978px) {
  .col-xs-offset-3 {
    margin-left: 5px;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.run_progress {
  display: none;
  p {
    color: red;
    text-align: center;
    margin: 0;
  }
  .run_progress_bar {
    background: url("/assets/processing_small.gif") no-repeat scroll center center;
    width: 200px;
    height: 20px;
    background-size: contain;
    margin: 0 auto;
  }
}

.small-alert {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 60%;
}

.run {
  .a {
    color: #333333;
  }

  .error, .failed {
    color: #f00;
  }

  .n_a, .running, .pending {
    color: goldenrod;
  }

  .passed, .pass {
    color: #5cb85c;
  }

  .queued, .scheduled {
    color: #000000;
  }
}

ol {
  list-style-type: decimal-leading-zero;
}

#start_time, #minute {
  width: 110px;
}

.run_details {
  margin: 5px 5px !important;
  width: 99%;
  position: relative;

  td {
    border: 0px !important;
    padding: 2px 5px !important;
    background-color: transparent !important;
  }

  td.duration {
    width: 110px;
  }

  td.status {
    width: 70px;
  }

  tr:hover {
    background-color: #ffffff !important;
  }
}

.row-link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5em;
}

.left-right-padding-0px {
  padding-left: 0px;
  padding-right: 0px;
}

#run_status {
  float: left;
  margin-top: 8px;
  .status_note {
    font-size: 85%;
  }
  td:nth-child(even), tr:hover {
    background-color: #f5f5f5;
  }
  td {
    padding-left: 3px;
    padding-right: 3px;
  }
  .h3 {
    font-size: 20px;
  }
}

h1.rp_body_h1 {
  margin-top: 5px;
}

#exTab1 li a {
  color: black;
}

#exTab1 ul {
  border-radius: 4px 4px 4px 4px;
  background-color: #d9edf7;
  margin-left: 200px;
  width: 730px;
}

#exTab1 .tab-content {
  margin-left: 200px;
  width: 730px;
}

.panel {
  margin-bottom: 0px;
}

.accordion-toggle{
  font-size: 14px;
}

textarea.v-resize {
  resize: vertical;
  overflow: scroll;
  white-space: pre;
}

.available_pins {
  width: 75%;
}

.navbar-header:before, .navbar-header:after {
  display: inline;
}
