<div id="footer">
	<p class="text-right"><%= link_to "About", about_path %></br>
    Test Station version: <%= $tc_version[:version] %></br>
    Up to date: <%= $tc_version[:date] %>
  </p>
	<a href="http://www.leapfrog.com/"><img src="/assets/leapfrog_logo.gif" alt="leapfrog"></a>
</div>
